{ 
    box-sizing:border-box;

}

body{  
    
    background-color: blueviolet;
    color: rgb(255, 255, 255);
}

img{
    float: right;
}

@media screen and (max-width:480px)

{ 
    body{
        background-color: crimson;
} 
img{
    float: none;
    width: 100%;
}

}

@media screen and (max-width: 250px)

{ 
    body{
        background-color: coral
    };

}
    
